<body>
<div class = Background>
<h1>ToDo List</h1>
<h2>A place to store your todos</h2>



  <table cass = "taskTable">
 
@for (p of todo; track $index) {

  <tr [class.taskNameComplete] = "p.completed === true" [class.taskNameIncomplete] = "p.completed === false" >
    <td>{{$index+1}}</td>
    @if(p.completed === false){
     <td class = "completed"> <button class = "buttoncomp" (click) = "completeTask(p)">Completed</button></td> 
    }
    <td class = "task">{{p.task}}</td>
    <td class = "duration">({{p.duration}}hr)</td>
    @if(p.priority === "Low Priority") 
    {
      <td class = "lpriority">⬇️{{p.priority}}</td>
    }
    @else if (p.priority == "High Priority")
    {
      <td class = "hpriority">⬆️{{p.priority}}</td>
    }
    <td class = "remove"><button (click) = "removetask(p)">X</button></td>
  </tr>
}
  </table>
<div class = "user">
  <p>Enter a new task</p>
  <input placeholder="Task Name" name = "task" type = "text" [(ngModel)]="formToDo.task" />
  <p>How many hours do you estimate?</p>
  <input placeholder="Hours" name = "time" type = "number" [(ngModel)]="formToDo.duration" />
  <p>What is the priority level?</p>




 <!--Radial Priority Buttons-->
 <label class = "radio">
  <input type="radio" name="priority" value="Low Priority" [(ngModel)] = "formToDo.priority">
  Low Priority
</label>

<label class = "radio">
  <input type="radio" name="priority" value="Normal Priority" [(ngModel)] = "formToDo.priority">
  Normal Priority
</label>

<label class = "radio">
  <input type="radio" name="priority" value="High Priority" [(ngModel)] = "formToDo.priority">
  High Priority
</label>

</div>
  <br> 
  <button class = "submit" (click) = "addTask()">Add Task</button>


</div>
</body>